/*
Fav Colors:
#99ffcc: Light Green
#ccffff: Light Blue
*/
/*
.navbar-default {
    background: -webkit-linear-gradient(left, #99ffcc, #ccffff);
}
.navbar-brand {
    font-family: 'Poiret One', cursive;
}
.collapse, .navbar-collapse a {
    text-align: center;
}
ul.dropdown-menu {
    text-align: center;
*/

body {
  height: 100vh;
	background-size: cover;
  background-color: rgba(255, 80, 80, .6);
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
}

img {
  height: 100%;
}

ul {
  list-style: none;
  text-decoration: none;
}

ol {
    list-style-type: none;
    padding: 0;
    color: #52ffd4;
    background-color: #000;
    opacity: .8;
    margin: 0 0;
    width: 100%;
}
ol li {
  padding: 10px 12px;
}

li span {
    float: right;
    color: #52ffd4;
}

#playlistEp {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  color: #52ffd4;
  background-color: #000;
  opacity: .8;
  margin: 0 0;
  width: 100%;
}

#playlistEp li {
  color: #52ffd4;
  padding: 10px 12px;
}

#playlistEp li:not(:last-child) {
  border-bottom: 1px solid rgba(82, 255, 212, .8);
}

#playlistEp li>a {
  color: #52ffd4;
}

#playlistEp .current-song a {
  text-decoration: none;
  color: rgba(255, 80, 80, .6);
}


.row-EP{
  padding-top: 60px;
}

.row {
  padding-bottom: 60px;
}

/****************Navbar Styles--Bootstrap****************/

/* navbar */
.navbar-default {
    background-color: #000;
    border: none;
    opacity: .8;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text {
  color: #52ffd4;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus  {
  color: rgba(255, 80, 80, .6);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #52ffd4;
    background-color: rgba(255, 80, 80, 0);
  }

  /* mobile version */
.navbar-default .navbar-toggle {
    border-color: #52ffd4;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #52ffd4;
}



/****************Footer Styles--Bootstrap****************/
.footer {
    bottom: 0;
    width: 100%;
}



/********************************************************************************
*********************************************************************************
                          Media Queries
*********************************************************************************
********************************************************************************/
