/*
Fav Colors:
#99ffcc: Light Green
#ccffff: Light Blue
*/
/*
.navbar-default {
    background: -webkit-linear-gradient(left, #99ffcc, #ccffff);
}

.navbar-brand {
    font-family: 'Poiret One', cursive;
}

.collapse, .navbar-collapse a {
    text-align: center;
}

ul.dropdown-menu {
    text-align: center;
*/

body {
    background: #000 url("/Users/alanwhite/Google Drive/Code Projects/ZED/Projects_Practice/Typhoid Beach/Images/Inception Shoreline Dark.jpg") no-repeat center center fixed;
}
